body {
    background-color: #212121;
    color: rgba(255,255,255,1);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: rgba(255,102,145,1);
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    &.nav {
        &.item {
            border-radius: .25rem;
            color: #ffffff;
            text-transform: uppercase;
            padding: 10px 10px;
        }
    }
}

.note {
    &.list {
        .item {
            background-color: transparent;
            box-shadow: none;
            border-bottom: none;
            margin: 0 0 25px 0;
            padding: 0;
            a {
                &.note {
                    border-radius: 10px;
                    padding: 10px 15px 10px 15px;
                    &:hover {
                        background-color: darken(#212121, 4.0);
                    }
                }
            }
        }
    }

    &.title {
        color: rgba(255,255,255,1);
        font-size: 2.125rem;
        font-weight: 400;
        line-height: 1.235;
        letter-spacing: 0.00735em;
        margin-bottom: 0;
    }

    &.date {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.43;
        letter-spacing: 0.01071em;
        margin: 0 0 20px 0;
    }

    &.content {
        color: rgba(255,255,255,.85);
        font-size: 1.2rem;
        line-height: 1.58;
    }

    &.labels {
        margin: 5px 10px 5px 10px;
    }
}

// syntax highlight
.tag {
    background-color: transparent;
}

.tag1 {
    border-radius: 16px;
    color: rgba(62,25,35,1);
    background-color: rgba(255,102,145,1);
    padding: 6px 9px;
    border: none;
}

.category {
    border-radius: 16px;
    color: rgb(65, 62, 32);
    background-color: rgba(255,243,122,1);
    padding: 6px 9px;
    border: none;
}

.article {
    &.header {
        margin-bottom: 3rem;
        text-align: left;

        .title {
            font-size: 3rem;
            font-weight: 600;
        }
        h1 {
            font-size: 3rem;
        }

        .date {
            margin-top: 5px;
        }
    }

    &.markdown-body {
        font-size: 1.1rem;
        background-color: transparent;
        box-shadow: none;
        color: rgba(255,255,255,0.85);
        padding: 0;
        @media (max-width: 500px) {
            margin-left: 0;
            margin-right: 0;
        }
        p {
            line-height: 1.58;
        }
        h1 {
            font-size: 2rem;
            border-bottom: none;
            margin-top: 3rem;
            margin-bottom: .5rem;
            font-weight: 600;
            line-height: 1.2;
        }
        h2 {
            font-size: 1.5rem;
            border-bottom: none;
            margin-top: 2rem;
            margin-bottom: .5rem;
            font-weight: 600;
            line-height: 1.2;
        }
        pre {
            font-size: 0.9rem;
        }
    }
}